
<div class="tittleContent">
  <button  class="tittleLeft"><i class="glyphicon glyphicon-backward"></i></button>

  <div class="titleBox">
    <div ng-repeat="data in messageArray" class="repeatBox"  ng-click="select(data)" id={{data.key}} ng-class="{true:'TopBarActive',false:'TopBarUnActive'}[isSelect===data.key]">
      <span class="tittleName">
        {{data.tittle}}
      </span>
      <i class='glyphicon glyphicon-remove' key="{{data.tittle}}" ng-click="deleteItem(data)"></i>
    </div>
  </div>
  <button  class="tittleRight"><i class="glyphicon glyphicon-forward"></i></button>
</div>
