<div class="container contentBox">
  <div class="financeContent">
    <span class="financeContent_span" ng-class="{true:'finanaceSpanAcitive',false:'finanaceSpanUnAcitive'}[vm.isSpanActiveOfFinance1]" ng-click="vm.isSpanActive1()"><a
      href="#/home/finance/partofmoney">工资组成</a></span>
    <span class="financeContent_span" ng-class="{true:'finanaceSpanAcitive',false:'finanaceSpanUnAcitive'}[vm.isSpanActiveOfFinance2]" ng-click="vm.isSpanActive2()">工资发展</span>
    <span class="financeContent_span" ng-class="{true:'finanaceSpanAcitive',false:'finanaceSpanUnAcitive'}[vm.isSpanActiveOfFinance3]" ng-click="vm.isSpanActive3()">各地平均工资</span>
  </div>
  <div class="financeTable">
    <ul>
      <li class="financeTableUlTittle">
        <span class="financeTableSpanName">姓名</span>
        <span class="financeTableSpanMoney">总收入<b>￥</b></span>
        <span class="financeTableSpanMoney">收入1<b>￥</b></span>
        <span class="financeTableSpanMoney">收入2<b>￥</b></span>
        <span class="financeTableSpanMoney">收入3<b>￥</b></span>
        <span class="financeTableSpanMoney">收入4<b>￥</b></span>
      </li>
    </ul>
    <ul class="financeTableUl">
      <li ng-repeat="person in vm.personGroup" ng-click="vm.showData(person)" class="financeTableUlMessage">
        <span class="financeTableSpanName">{{person.name}}</span>
        <span class="financeTableSpanMoney">{{person.money}}</span>
        <span class="financeTableSpanMoney">{{person.money1}}</span>
        <span class="financeTableSpanMoney">{{person.money2}}</span>
        <span class="financeTableSpanMoney">{{person.money3}}</span>
        <span class="financeTableSpanMoney">{{person.money4}}</span>
      </li>
    </ul>
  </div>
</div>
