<div class="left_bar_body_bar_content" ng-class="{true:'left_bar_body_bar_content_show',false:'left_bar_body_bar_content_hide'}[left_bar_items_show]">
  <ul>
    <li><a ng-href="#/home/contacts" ng-click="sendTittle('联系人')">联系人</a></li>
    <li><a ng-href="#/home/personData"  ng-click="sendTittle('个人资料')">个人资料</a></li>
    <li><a ng-href="#/home/projectManagement" ng-click="sendTittle('项目管理')">项目管理</a></li>
    <li><a ng-href="#/home/teamManagement" ng-click="sendTittle('团队管理')">团队管理</a></li>
    <li><a ng-href="#/home/informationFlow" ng-click="sendTittle('信息流')">信息流</a></li>
    <li><a ng-href="#/home/customerManagement" ng-click="sendTittle('客户管理')">客户管理</a></li>
    <li><a ng-href="#/home/fileManagement" ng-click="sendTittle('文件管理器')">文件管理器</a></li>
    <li><a ng-href="#/home/calendar" ng-click="sendTittle('日历')">日历</a></li>
    <li><a ng-href="#/home/blog" ng-click="sendTittle('博客')">博客</a></li>
    <li><a ng-href="#/home/FAQ" ng-click="sendTittle('FAQ')">FAQ</a></li>
    <li><a ng-href="#/home/timeAxis" ng-click="sendTittle('时间轴')">时间轴</a></li>
    <li><a ng-href="#/home/labelWall" ng-click="sendTittle('标签墙')">标签墙</a></li>
    <li><a ng-href="#/home/ticket" ng-click="sendTittle('单据')">单据</a></li>
    <li><a ng-href="#/home/searchResult" ng-click="sendTittle('搜索结果')">搜索结果</a></li>
    <li><a ng-href="#/home/forum" ng-click="sendTittle('论坛')">论坛</a></li>
    <li><a ng-href="#/home/IM" ng-click="sendTittle('即时通讯')">即时通讯</a></li>
    <li><a ng-href="#/home/loginAndRegister" ng-click="sendTittle('登录&注册')">登录&注册</a></li>
    <li><a ng-href="#/home/404Page" ng-click="sendTittle('404页面')">404页面</a></li>
    <li><a ng-href="#/home/500Page" ng-click="sendTittle('500页面')">500页面</a></li>
    <li><a ng-href="#/home/emptyPage" ng-click="sendTittle('空白页')">空白页</a></li>
    <li><a ng-href="#/home/resetPassword" ng-click="sendTittle('重置密码')">resetPassword</a></li>
  </ul>
</div>
