<div class="left_bar_body_bar_content" ng-class="{true:'left_bar_body_bar_content_show',false:'left_bar_body_bar_content_hide'}[left_bar_items_show]">
  <ul>
    <li><a ng-href="#/home/contacts">联系人</a></li>
    <li><a ng-href="#/home/personData">个人资料</a></li>
    <li><a ng-href="#/home/projectManagement">项目管理</a></li>
    <li><a ng-href="#/home/teamManagement">团队管理</a></li>
    <li><a ng-href="#/home/informationFlow">信息流</a></li>
    <li><a ng-href="#/home/customerManagement">客户管理</a></li>
    <li><a ng-href="#/home/fileManagement">文件管理器</a></li>
    <li><a ng-href="#/home/calendar">日历</a></li>
    <li><a ng-href="#/home/blog">博客</a></li>
    <li><a ng-href="#/home/FAQ">FAQ</a></li>
    <li><a ng-href="#/home/timeAxis">时间轴</a></li>
    <li><a ng-href="#/home/labelWall">标签墙</a></li>
    <li><a ng-href="#/home/ticket">单据</a></li>
    <li><a ng-href="#/home/searchResult">搜索结果</a></li>
    <li><a ng-href="#/home/forum">论坛</a></li>
    <li><a ng-href="#/home/IM">即时通讯</a></li>
    <li><a ng-href="#/home/loginAndRegister">登录&注册</a></li>
    <li><a ng-href="#/home/404Page">404页面</a></li>
    <li><a ng-href="#/home/500Page">500页面</a></li>
    <li><a ng-href="#/home/emptyPage">空白页</a></li>
  </ul>
</div>
