<div class="left_bar_body_bar_content" ng-class="{true:'left_bar_body_bar_content_show',false:'left_bar_body_bar_content_hide'}[left_bar_items_show]">
  <ul>
    <li><a ng-href="#/home/normalForm" ng-click="sendTittle('基本表单')">基本表单</a></li>
    <li><a ng-href="#/home/normalValidate" ng-click="sendTittle('基本验证')">基本验证</a></li>
    <li><a ng-href="#/home/advanceForm" ng-click="sendTittle('高级表单')">高级表单</a></li>
    <li><a ng-href="#/home/formGuide" ng-click="sendTittle('表单向导')">表单向导</a></li>
    <li><a ng-href="#/home/upLoadFile" ng-click="sendTittle('文件上传')">文件上传</a></li>
    <li><a ng-href="#/home/fileEditor" ng-click="sendTittle('文本编辑器')">文本编辑器</a></li>
    <li><a ng-href="#/home/autoComplete" ng-click="sendTittle('自动补全')">自动补全</a></li>
    <li><a ng-href="#/home/datePicker" ng-click="sendTittle('日期选择')">日期选择</a></li>
  </ul>
</div>
