<div class="left_bar_body_bar_content" ng-class="{true:'left_bar_body_bar_content_show',false:'left_bar_body_bar_content_hide'}[left_bar_items_show]">
  <ul>
    <li><a href="">联系人</a></li>
    <li><a href="">个人资料</a></li>
    <li><a href="">项目管理</a></li>
    <li><a href="">团队管理</a></li>
    <li><a href="">信息流</a></li>
    <li><a href="">客户管理</a></li>
    <li><a href="">文件管理器</a></li>
    <li><a href="">日历</a></li>
    <li><a href="">博客</a></li>
    <li><a href="">FAQ</a></li>
    <li><a href="">时间轴</a></li>
    <li><a href="">标签墙</a></li>
    <li><a href="">单据</a></li>
    <li><a href="">搜索结果</a></li>
    <li><a href="">论坛</a></li>
    <li><a href="">即时通讯</a></li>
    <li><a href="">登录&注册</a></li>
    <li><a href="">404页面</a></li>
    <li><a href="">500页面</a></li>
    <li><a href="">空白页</a></li>
  </ul>
</div>
