<div class="left_bar_body_bar_content" ng-class="{true:'left_bar_body_bar_content_show',false:'left_bar_body_bar_content_hide'}[left_bar_items_show]">
  <ul>
    <li><a ng-href="#/home/composing">排版</a></li>
    <li><a ng-href="#/home/fontIcon">字体图标</a></li>
    <li><a ng-href="#/home/button">按钮</a></li>
    <li><a ng-href="#/home/tab">选项卡&面板</a></li>
    <li><a ng-href="#/home/notice">通知&提示</a></li>
    <li><a ng-href="#/home/progressBar">标签&进度条</a></li>
    <li><a ng-href="#/home/video">视频&音频</a></li>
    <li><a ng-href="#/home/modal">弹窗</a></li>
    <li><a ng-href="#/home/tree">树形图</a></li>
    <li><a ng-href="#/home/Toastr">Toastr通知</a></li>
    <li><a ng-href="#/home/text">文本对比</a></li>
    <li><a ng-href="#/home/loading">加载动画</a></li>
    <li><a ng-href="#/home/components">小部件</a></li>
  </ul>
</div>
