<div class="left_bar_body_bar_content" ng-class="{true:'left_bar_body_bar_content_show',false:'left_bar_body_bar_content_hide'}[left_bar_items_show]">
  <ul>
    <li><a ng-href="#/home/composing" ng-click="sendTittle('排版')">排版</a></li>
    <li><a ng-href="#/home/fontIcon" ng-click="sendTittle('字体图标')">字体图标</a></li>
    <li><a ng-href="#/home/button" ng-click="sendTittle('按钮')">按钮</a></li>
    <li><a ng-href="#/home/tab" ng-click="sendTittle('选项卡&面板')">选项卡&面板</a></li>
    <li><a ng-href="#/home/notice" ng-click="sendTittle('通知&提示')">通知&提示</a></li>
    <li><a ng-href="#/home/progressBar" ng-click="sendTittle('标签&进度条')">标签&进度条</a></li>
    <li><a ng-href="#/home/video" ng-click="sendTittle('视频&音频')">视频&音频</a></li>
    <li><a ng-href="#/home/modal" ng-click="sendTittle('弹窗')">弹窗</a></li>
    <li><a ng-href="#/home/tree"  ng-click="sendTittle('树形图')">树形图</a></li>
    <li><a ng-href="#/home/Toastr" ng-click="sendTittle('Toastr通知')">Toastr通知</a></li>
    <li><a ng-href="#/home/text" ng-click="sendTittle('文本对比')">文本对比</a></li>
    <li><a ng-href="#/home/loading" ng-click="sendTittle('加载动画')">加载动画</a></li>
    <li><a ng-href="#/home/components" ng-click="sendTittle('小部件')">小部件</a></li>
  </ul>
</div>
