<div class="left_bar_body_bar_content" ng-class="{true:'left_bar_body_bar_content_show',false:'left_bar_body_bar_content_hide'}[left_bar_items_show]">
  <ul>
    <li><a ng-href="#/home/normalForm">基本表单</a></li>
    <li><a ng-href="#/home/normalValidate">基本验证</a></li>
    <li><a ng-href="#/home/advanceForm">高级表单</a></li>
    <li><a ng-href="#/home/formGuide">表单向导</a></li>
    <li><a ng-href="#/home/upLoadFile">文件上传</a></li>
    <li><a ng-href="#/home/fileEditor">文本编辑器</a></li>
    <li><a ng-href="#/home/autoComplete">自动补全</a></li>
    <li><a ng-href="#/home/datePicker">日期选择</a></li>
  </ul>
</div>
