<div class="left_bar_body_bar_content" ng-class="{true:'left_bar_body_bar_content_show',false:'left_bar_body_bar_content_hide'}[left_bar_items_show]">
  <ul>
    <li><a href="">排版</a></li>
    <li><a href="">字体图标</a></li>
    <li><a href="">按钮</a></li>
    <li><a href="">选项卡&面板</a></li>
    <li><a href="">通知&提示</a></li>
    <li><a href="">标签&进度条</a></li>
    <li><a href="">视频&音频</a></li>
    <li><a href="">弹窗</a></li>
    <li><a href="">树形图</a></li>
    <li><a href="">Toastr通知</a></li>
    <li><a href="">文本对比</a></li>
    <li><a href="">加载动画</a></li>
    <li><a href="">小部件</a></li>
  </ul>
</div>
