<div class="left_bar_body_bar_content" ng-class="{true:'left_bar_body_bar_content_show',false:'left_bar_body_bar_content_hide'}[left_bar_items_show]">
  <ul>
    <li><a ng-href="#/home/basicTable" ng-click="sendTittle('基本表格')">基本表格</a></li>
    <li><a ng-href="#/home/ngTable" ng-click="sendTittle('Ng-table')">Ng-table</a></li>
    <li><a ng-href="#/home/jqGrid" ng-click="sendTittle('jqGrid')">jqGrid </a></li>
    <li><a ng-href="#/home/fooTable" ng-click="sendTittle('FooTable')">FooTable</a></li>
  </ul>
</div>
