html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{font:12px/1.14 arial,\5b8b\4f53;color:#333;outline:0;}
body{background:#fff;}
a,a:hover{color:#333;}
*{
  border: 0;
  outline: none;
  margin: 0;
  padding: 0;
}
a:link{
  text-decoration: none;
}
a:visited{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}

.p_normal{
  color: #f8ac59;
  font-size: 14px;
  font-family: 'Glyphicons Halflings';
  margin: 10px;
  font-weight: 200;
}
.p_emphasize{
  color: #f6403d;
  font-size: 14px;
  font-family: 'Glyphicons Halflings';
  margin-top: 12px;
  margin-left: 8px;
}




















.container_box{
  width: 100%;
  height: 2000px;

}
.left_bar{
  width: 220px;
  height: 2000px;
  position: absolute;
  left: 0;
  top: 0;
  background: rgb(47,64,80);
}
.left_bar .left_bar_header{
  width: 220px;
  height: 156px;
  background: rgb(37,56,72);
  position: absolute;
  top: 0;
  left: 0;
}
.left_bar .left_bar_header .left_bar_header_img{
  position: absolute;
  left: 25px;
  top: 33px;
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
.left_bar .left_bar_header .left_bar_header_img img{
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
}
.left_bar .left_bar_header .left_bar_header_name{
  position: absolute;
  display: inline-block;
  left: 38px;
  top: 100px;
  color: white;
  font-size: 16px;
  font-family: 'open sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.left_bar .left_bar_header .left_bar_header_tittle{
  position: absolute;
  left: 37px;
  top: 125px;
  color: #8095a8;
  font-family: 'open sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
}
.left_bar .left_bar_header .left_bar_header_arrow{
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-top: 6px dashed;
  border-top: 6px solid \9;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  color: white;
  position: absolute;
  left: 92px;
  top: 129px;
}

.left_bar .left_bar_header .left_bar_header_content{

}
.left_bar .left_bar_header .left_bar_header_content .left_bar_header_content_ul{
  width: 160px;
  height: 150px;
  display: block;
}
.left_bar .left_bar_header .left_bar_header_content .left_bar_header_content_ul li{
  display: inline-block;
  width: 160px;
  height: 36px;
}
.left_bar .left_bar_header .left_bar_header_content .left_bar_header_content_ul li a{
  display: inline-block;
  width: 156px;
  height: 30px;
  margin:3px 2px 3px 2px;
  padding: 2px 20px 2px 20px;
  line-height: 26px;
}
.left_bar .left_bar_header .left_bar_header_content span{
  display: inline-block;
  width: 156px;
  height: 38px;
  line-height: 38px;

  border-top: 1px solid silver;
}
.left_bar .left_bar_header .left_bar_header_content span a{
  display: inline-block;
  width: 100%;
  height: 100%;
  margin:2px 2px 2px 2px;
  padding: 0 20px 0 20px;
}
.left_bar_active_click{
  background: rgb(244,244,244);
}
.left_bar_unActive_click{
  background: rgb(255,255,255);
}
.left_bar_active_hover{
  background: rgb(244,244,244);
}
.left_bar_unActive_hover{
  background: rgb(255,255,255);
}

.left_bar_header_content_active{
  width: 160px;
  height: 195px;
  background: rgb(254,254,254);
  position: absolute;
  top: 142px;
  display: block;
  left: 20px;
  -webkit-transition: all 1.5s;
  -moz-transition: all 1.5s;
  -ms-transition: all 1.5s;
  -o-transition: all 1.5s;
  transition: all 1.5s;
}

.left_bar_header_content_unActive{
  display: none;
  width: 160px;
  height: 195px;
  background: rgb(254,254,254);
  position: absolute;
  left: 25px;
  top: 142px;
}

.left_bar .left_bar_body{
  width: 220px;
  height: 1000px;
  position: absolute;
  left: 0;
  top: 173px;
}
.left_bar .left_bar_body .left_bar_body_box {
  width: 220px;
  height: 1700px;
  color: #a7b1c2;

}
/*.left_bar .left_bar_body .left_bar_body_box  .left_bar_body_home{
  position: relative;

}
.left_bar .left_bar_body .left_bar_body_box .left_bar_body_layout{
  position: relative;

}
.left_bar .left_bar_body .left_bar_body_box .left_bar_body_chart{
  position: relative;

}
.left_bar .left_bar_body .left_bar_body_box .left_bar_body_mail{
  position: relative;

}
.left_bar .left_bar_body .left_bar_body_box .left_bar_body_form{
  position: relative;

}
.left_bar .left_bar_body .left_bar_body_box .left_bar_body_page{
  position: relative;

}
.left_bar .left_bar_body .left_bar_body_box .left_bar_body_element{
  position: relative;

}
.left_bar .left_bar_body .left_bar_body_box .left_bar_body_table{
  position: relative;

}
.left_bar .left_bar_body .left_bar_body_box .left_bar_body_photo{
  position: relative;

}
.left_bar .left_bar_body .left_bar_body_box .left_bar_body_animate {
  position: relative;

}
.left_bar .left_bar_body .left_bar_body_box .left_bar_body_tool{
  position: relative;
}*/
.left_bar .left_bar_body .left_bar_body_box .left_bar_body_bar{
  display: block;
  float: left;
  width: 220px;
  height: 50px;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.left_bar .left_bar_body .left_bar_body_box .left_bar_body_bar .left_bar_body_bar_button{
  width: 220px;
  height: 50px;
}
.left_bar .left_bar_body .left_bar_body_box .left_bar_body_bar .left_bar_body_bar_span{
  display: inline-block;
  position: absolute;
  top: 18px;
  left: 25px;
}
.left_bar .left_bar_body .left_bar_body_box .left_bar_body_bar .left_bar_body_bar_a{
  display: inline-block;
  position: absolute;
  left: 48px;
  top: 18px;
  font-size: 14px;
  color: #a7b1c2;
}
.left_bar .left_bar_body .left_bar_body_box .left_bar_body_bar .left_bar_body_bar_i {
  display: inline-block;
  position: absolute;
  left:195px;
  top: 18px;
}
.left_bar .left_bar_body .left_bar_body_box .left_bar_body_bar .left_bar_body_bar_content{
  width: 220px;
  height: 50px;
  position: absolute;
  top: 50px;
  left: 0;
}

.left_bar .left_bar_body .left_bar_body_box .left_bar_body_bar .left_bar_body_bar_content ul{
  display: inline-block;
  width: 220px;
  height: 100%;
}
.left_bar .left_bar_body .left_bar_body_box .left_bar_body_bar .left_bar_body_bar_content ul li{
  display: inline-block;
  width: 170px;
  height: 44px;
  padding-left: 50px;
  line-height: 44px;
}
.left_bar .left_bar_body .left_bar_body_box .left_bar_body_bar .left_bar_body_bar_content ul li a{
  width: 100%;
  height: 100%;
  display: inline-block;
  color: #8994a6;
}
.left_bar .left_bar_body .left_bar_body_box .left_bar_body_bar .left_bar_body_bar_content ul li a:hover{
  width: 100%;
  height: 100%;
  display: inline-block;
  color: #e1edff;
}


.left_bar_body_open{
  background: rgb(41,56,70);
  display: block;
  float: left;
  width: 220px;
  height: 500px;
  position: relative;
}

.left_bar_body_bar_i_open{
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.left_bar_body_bar_i_close{
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.left_bar_body_bar_content_show{
  display: block;
}
.left_bar_body_bar_content_hide{
  display: none;
}
/*top bar*/
.top_bar{
  position: absolute;
  margin: 0 0 0 220px;
  height: 103px;
  width: 100%;
  border-bottom: 2px solid black;
}

/*主页1*/
.mainPage{
  position: absolute;
  top: 103px;
  margin: 0 0 0 220px;
  height: 1500px;
}

.mainPage .home1_content{
  height: 170px;
  border-bottom: 1px solid #eeeeee;
  padding: 0;
  margin: 0;
}

.mainPage .home1_content .home1_instruction_box{
  display: inline-block;
  margin-left: 20px;
  margin-top: 20px;
  width:100%;
  height: 130px;
}
.mainPage .home1_content .home1_instruction_box::before{
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 5px;
  top: 0;
  background: #eeeeee;
}
.mainPage .home1_instruction_box h2{
  margin-top: 18px;
  margin-left: 8px;
  font-weight: 200;
}
/*个人信息及项目特点*/
.mainPage .home1_information{
  height: auto;
  padding: 0;
  margin: 0;
}
.mainPage  .home1_information .home1_QR_code{
  height: auto;
 /* padding-right: 15px;*/
  margin-bottom: 20px;
}
.mainPage .home1_information .home1_QR_code h1{
  font-family: 'open sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 26px;
  font-weight: 100;
  margin-top: 34px;
  color: #676a6c;
  left: 0;
}
.mainPage .home1_information .home1_QR_code p{
  font-family: 'open sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: rgb(103, 106, 108);
  font-size: 12px;
  margin-top: 18px;
}
.mainPage .home1_information .home1_QR_code img{
  margin-top: 20px;
  width: 100%;
  height: auto;
  max-width: 264px;
}

.mainPage .home1_information .home1_instruction{
/*  margin-right: 30px;*/
  height: auto;
  top: 0;
  margin-bottom: 20px;
}

.mainPage .home1_information .home1_instruction h1{
  font-family:'open sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 26px;
  font-weight: 100;
  margin-top: 34px;
  color: #676a6c;
}
.mainPage .home1_information .home1_instruction p.content{
  font-family: 'open sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  margin: 16px 30px 0 0;
  color:rgb(103, 106, 108);
  display: block;
}
.mainPage .home1_information .home1_instruction p.version{
  margin-top: 16px;
  font-family: 'open sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  color:rgb(103, 106, 108);
}
.mainPage .home1_information .home1_instruction p.link{
  margin: 58px 0 114px 0;
}
.mainPage .home1_information .home1_instruction p.link a i{
  margin: 0 4px 0 0;
}
.mainPage .home1_information .home1_instruction p.link a.link_href{
  width: 86px;
  height: 34px;
  color: #1c84c6;
  font-size: 14px;
  border-radius: 2px;
  border: 1px solid #1c84c6;
  display: inline-block;
  line-height: 34px;
  text-align: center;
  margin-right: 5px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.mainPage .home1_information .home1_instruction p.link a.link_href:hover{
  color: #ffffff;
  border: 1px solid #1c84c6;
  background:#1c84c6 ;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.mainPage .home1_information .home1_instruction p.link a.link_blog{
  width: 86px;
  height: 34px;
  color: #585b5d;
  font-size: 14px;
  border-radius: 2px;
  border: 1px solid #e7eaec;
  display: inline-block;
  line-height: 34px;
  text-align: center;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.mainPage .home1_information .home1_instruction p.link a.link_blog:hover{
  border: 1px solid #cbced0;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.mainPage .home1_information .home1_points{
  margin-bottom: 20px;

}
.mainPage .home1_information .home1_points h1.home1_points_tittle{
  color: rgb(103, 106, 108);
  font-size: 14px;
  font-family: 'open sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 14px 0 14px 0;
}
.mainPage .home1_information .home1_points ol.home1_points_li{
  display: inline-block;
  margin-left: 20px;
}
.mainPage .home1_information .home1_points ol.home1_points_li li{
  list-style-type: decimal;
  font-family: 'open sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: rgb(103, 106, 108);
  display: list-item;
  height: auto;
  margin: 4px 0 4px 0;
}
































