
<div class="panel panel-default">
  <div class="panel-heading font-bold">
    Form elements
  </div>
  <div class="panel-body">
    <div class="line line-dashed b-b line-lg pull-in"></div>
    <div>
      <form action="" class="form-horizontal">
        <div class="form-group">
          <label class="control-label col-sm-1">选择日期</label>
          <div class="col-sm-2">
            <input  id="jqdatepicker" class="form-control col-sm-3" jqdatepicker pickData="{{pickData}}"
                    ng-model="search.Date"/>
          </div>
          <div class="col-sm-1">
            <span class="form-control col-sm-1">{{pickData}}</span>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="panel-body">
    <span class="panel panel-default">选定的日期是：{{dt|date:fullDate}}</span>
    <div style="display:block;">
      <div uib-datepicker ng-model="dt" class="well well-sm" datepicker-options="options"></div>
    </div>
    <div class="btn-group" style="display: inline-block">
      <button type="button" class="btn btn-default " ng-click="today()">今日</button>
      <button type="button" class="btn btn-info" ng-click="setData(2012,10,1)">设定日期</button>
      <button type="button" class="btn btn-success" ng-click="clear()">清除</button>
      <button type="button" class="btn btn-danger" ng-click="toggleMin()">最小选择日期设置</button>
    </div>
  </div>


</div>
